<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-6 offset-lg-3">
      <form class="needs-validation" novalidate [formGroup]="form">
        <div class="form-row">
          <div class="col-sm-12">
            <label for="lastName">Title</label>
            <input
              type="text"
              class="form-control"
              placeholder="First Name"
              formControlName="firstName"
              [ngClass]="{ 'is-invalid': submitted && hasError('firstName') }"
            />
            <div
              class="invalid-feedback"
              *ngIf="hasError('firstName') && hasError('firstName')['required']"
            >
              Please inform a First Name for this user.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-sm-12">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              [ngClass]="{ 'is-invalid': submitted && hasError('lastName') }"
              placeholder="Last Name"
            />
            <div
              class="invalid-feedback"
              *ngIf="hasError('lastName') && hasError('lastName')['required']"
            >
              Please inform a Last Name for this user.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-sm-12">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              formControlName="email"
              [ngClass]="{ 'is-invalid': submitted && hasError('email') }"
            />
            <div
              class="invalid-feedback"
              *ngIf="hasError('email') && hasError('email')['required']"
            >
              Please inform a Email for this user.
            </div>
          </div>
        </div>
        <div style="margin-top: 1em;" class="buttons-register">
          <button type="submit" class="btn btn-outline-primary mb-1 btn-sm" (click)="onRegister()">
            Register
          </button>
          <button type="submit" class="btn btn-outline-dark mb-1 btn-sm" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
