<div class="row">
  <div class="col-md-12 button-header-articles">
    <a class="btn btn-primary float-right" [routerLink]="['new']" role="button"
      >New Article</a
    >
  </div>
  <div class="col-md-12">
    <div class="content" *ngIf="(articles$ | async) as articles; else loading">
      <div class="card card-list-articles" *ngFor="let article of articles">
        <div class="card-body">
          <h5 class="card-title">{{ article.title }}</h5>
          <p class="card-text">{{ article.content }}</p>
          <button
            class="btn btn-outline-secondary mb-1 btn-sm"
            (click)="onEdit(article.id)"
          >
            Edit
          </button>
          <button
            class="btn btn-outline-danger mb-1 btn-sm"
            (click)="onDelete(article.id)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <span>Loading...</span>
    </ng-template>
  </div>
</div>
